h1 { 
    font-family: Sans-serif;
    color: darkblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; /* Horizontally align items */
}
li {
    margin-left: 10px; /* Spacing between items */
}
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
    background-color: #111;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.nav-bar {
    background-color: grey;
}
body {
    font-family: Poppins, sans-serif;
}
header {
    background-color: #3e8e41;
}
footer {
    background-color: #3e8e41;
    padding: 10px;
    text-align: center;
}
footer ul {
    padding: 0;
}
footer li {
    display: inline;
    margin-right: 10px;
}
.button {
    color: #3e8e41;
    font-size: 20px;
fonr-color: black;
}
footer li { display:inline-block; margin-bottom:15px;}
footer li a { margin:0 12px; font-size:15px;}