body {
    background-color: #c6d5f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.intro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/images/college-girl-holding-books-with-blurred-students-park_13339-269079.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
}
.headline {
    font-family: 'Times New Roman', serif; 
    font-weight: bold; 
    font-size: 80px; 
    text-align: center; 
    margin: 20px 0; 
    color: white;
}
.format{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
h5{
    font-size: 30px;
}
.navbar {
    background-color: #1756cc;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: #071e81;
    cursor: pointer;
}
.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.intro{
    background-color: ;
    background-image: ;
    font-family: ;
}
.button1 {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 0.1px;
    color: black;
    background-color: rgb(199, 186, 247);
    text-decoration: none;
    padding: 10px 50px;
}
.footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: 
}
.footer a {
    color: #f2f2f2;
    text-decoration: none;
    margin: 0 15px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer p {
    margin: 10px 0;
}
.container {
    position: relative;
    width: 50%;
  }
  
.image {
    opacity: 1;
    display: block;
    width: 50%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
  
  .container:hover .image {
    opacity: 0.2;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #2686ac;
    color: white;
    font-size: 8px;
    padding: 8px 16px;
    text-align: left;
}